legend{
    text-align: center;
    font-size: 30px;
    padding-left: 50%;
}

.form-group{
    width: 80%;
    padding-left: 25%;
    
}

.form-grp{
    padding-left: 50%;
}
h1{
    font-size: 20px;
}